[Unit]
Description=gunicorn daemon
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=www-data
Group=www-data
RuntimeDirectory=gunicorn
WorkingDirectory=/mviewerstudio_venv/
ExecStart=/mviewerstudio_venv/bin/gunicorn --pid /run/gunicorn/pid -w 4  \
          --bind 127.0.0.1:8000 mviewerstudio_cas.mviewerstudio_cas --timeout 300
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target

